@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;400;500;600;700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/* RESET */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* FONT-SIZES */

h1{ font-size: 2.7rem;}
h2{ font-size: 2.5rem;}
h3{ font-size: 2.2rem;}
h4{ font-size: 2.0rem;}
h5{ font-size: 1.75rem}
p { font-size: 1.25rem;
font-family: 'Jost', sans-serif;}

ul{ list-style: none;}

/* FONT */

body{
    font-family: 'Source Sans Pro', sans-serif;
}

/* CONTENEDOR PRINCIPAL */

.contenedor{
    width: 90%;
    margin: auto;
}

/* HEADER */
/* LOGO */

.enlace {
    position: absolute;
    padding: 20px 0;
}

.logo {
    height: 40px;
}

header{
    height: 80px;
    background: #000;
}

/* NAV */

.navegacion{
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    box-sizing: border-box; 
}

.navegacion ul{
    float: right;
    margin-right: 20px;
}

.navegacion ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.navegacion ul li a{
    font-weight: 600;
    font-size: 1.5rem;
    color: #fff;
    padding: 7px 13px;
    border-radius: 3px;
}

.navegacion a:hover{
    color: rgb(145, 145, 145);
    transition: all 0.3;
    
}

/* SUBMENU */

.submenu {
	position: absolute;
	display: none;
	width: 135px;
	background-color: rgba(0, 0, 0, .4);
}

.navegacion li:hover .submenu{
	display: block;
}

.submenu li a{
    display: block;
	padding: 15px 15px 15px 20px;
    margin-block: -30px;
}

/* BACKGROUND INDEX/SECCIONES */

#banner{
    width: 100%;
    height: 100vh;
    background-image:  linear-gradient(
      0deg,
      rgba(0,0,0,0.4),
      rgba(0,0,0,0.4)
  )
    ,url(../assets/images/home.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.banner_titulo{
    color: #fff;
    padding: 8em 0 .3em;
}

#album {
    background: #000;
    color: #fff;
}

#album .contenedor{
    padding: 5em 0;
}

#videos-index {
    background: #000;
}

#premios {
    background: #fff;
    color: #000;
}

/* BACKGROUND DE LAS PAGINAS ALBUMES Y VIDEOS */

#musica{
    width: 100%;
    height: 100%;
    background-image:  linear-gradient(
      0deg,
      rgba(0,0,0,0.4),
      rgba(0,0,0,0.4)
  )
    ,url(../assets/images/musica.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}



/* SECCION ALBUMES */

.albumes_contenedor{
    padding-bottom: 2em;
    color: #fff;
}

.albumes_titulo{
    padding: 5em 0 1em;
    color: #fff;
}

.albumes_contenedor_texto p{
    font-weight: 200;
}

/* SECCION VIDEOS */

.imagen{
    width: 50%;
}

.videoprincipal_contenedor{
    padding-top: 160px;
    color: #fff;
}

.videos_card_imagen img{
    width: 360px;
    height: 235px;
}

.videos_card_contenedor{
    color: #fff;
}

/* PAGINA TOUR  */

#tour{
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}


.tour_textos{
    color: #fff;
    padding: 10em 0 2em;
}

.fechas{
    padding: 1em 0;
}

.fecha{
    color: #fff;
}

/* BACKGROUND NOSOTROS */

#nosotros{
    width: 100%;
    height: 100%;
    background-image:  linear-gradient(
      0deg,
      rgba(0,0,0,0.4),
      rgba(0,0,0,0.4)
  )
    ,url(../assets/images/nosotros.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.nosotros_titulo {
    color: #fff;
    font-size: 5rem;
    padding-top: 5em;
    margin: 0 1em;
}

/* BACKGROUND A LAS TEXTOS */

.nosotros_contenedor{ 
    background-color: rgb(0 0 0 / 50%);
    padding: 1em 0;
}

.nosotros_parrafo{
    margin: 0 4em;
    background-color: rgb(0 0 0 / 60%);
    color: #fff;
    font-weight: 200;
    padding: 1em;
}

.profile{
    padding: 4em;
}

.profile_content{
    color: #fff;
}

.profile_imagen img{
    width: 500px;
    height: 700px;
    object-fit: cover;
}

/* PAGINA SUSCRIBETE */

#suscripcion{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/images/suscripcion.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.form{
    color: #fff;
    padding: 20em 0;
}

/* FOOTER */

.pie-footer {
    background-color: #000;
    width: 100%;
    color: #fff;
}

.pie-footer p{
    color: #fff;
    font-weight: 500;
}

.redes a {
    display: inline-block;
    margin: 0 5px;
}

.pie-footer .contenedor{
    padding: 2em 0;
}