@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;400;500;600;700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

html {
    scroll-behavior: smooth;
  }

/* RESET */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* FONT */
h1, h2, .h1, .h2{font-weight: 600;color: #fff;}
p {font-family: 'Jost', sans-serif;}
body{font-family: 'Source Sans Pro', sans-serif;}

.lead{
    color: #fff;
}

/* LOGO */

.logo{
    height: 30px;
}

.container .navbar-brand{
    font-size: 0;
}

/* SLIDER BACKGROUND */

#home{
    background: #181818;
}

.bg-img-1 {
    background-image: url('../assets/images/slide1.jpg');
}

.bg-img-2 {
    background-image: url('../assets/images/slide2.png');
}

.bg-img-3 {
    background-image: url('../assets/images/slide3.jpg');
}

/* SLIDER CARROUSEL */

#home .carousel-item{
	min-height: 90vh;
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 1;
}
#home .carousel-item:before{
	content: '';
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	z-index: -1;
}
#home .carousel-item .container{
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

/* ANIMACIONES TITULOS DE LOS SLIDERS */

#home .carousel-item.active h2{
	animation: fadeInLeft 0.5s ease forwards;
}
#home .carousel-item.active h4, #home .carousel-item.active button{
	animation: fadeInRight 0.5s ease forwards;
}

.featurette-divider {
    margin: 5rem 0;
}

.card-title {
    font-size: 1.75rem;
    font-weight: 600;
}

/* BACKGROUND DE LAS PAGINAS ALBUMES Y VIDEOS */

#musica{
    width: 100%;
    height: 100%;
    background-image:  linear-gradient(
      0deg,
      rgba(0,0,0,0.4),
      rgba(0,0,0,0.4)
  )
    ,url(../assets/images/musica.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding-bottom: 3rem;
}

/* PAGINA ALBUMES */

.titulo{
    padding-top: 5rem;
    animation: fadeInDown 0.5s ease forwards;
}

.albumes .row img{
    height: 18em;
}

/* BACKGROUND DE LOS ALBUMES */

.albumes .row{
    background-color: rgb(0 0 0 / 60%);
    border-radius: 10px;
    padding: 2em 0;
    margin: 2em auto auto auto;
    align-items: center;
}

/* PAGINA VIDEOS */

.video-embed{
    padding-top: 5rem;
}

/* SOMBRA AL VIDEO DE YOUTUBE */

.videos iframe{
    box-shadow: 1px 1px 41px 6px rgba(0,0,0,0.71);
    -webkit-box-shadow: 1px 1px 41px 6px rgba(0,0,0,0.71);
    -moz-box-shadow: 1px 1px 41px 6px rgba(0,0,0,0.71);
}

/* VIDEOS CARDS */

.videos img{
    width: 100%;
    z-index: 1;
    -o-object-fit: contain;
    object-fit: contain;
}

.card-video{
    overflow: hidden;
    position: relative;
    width: 100%;
}

.card-content {
    display: flex;
    position: absolute;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 80%);
    opacity: 0;
    transition: .5s;
    border: 15px solid  black;
}

.card-video:hover .card-content{
    opacity: 1;
}

/* PAGINA TOUR  */

#tour{
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
}

.tour_titulo{
    padding-top: 5rem;
    color: #fff;
}

.tour_titulo h1{
    animation: fadeInDown 0.5s ease forwards;
}

/* PAGINA NOSOTROS */

#nosotros{
    width: 100%;
    height: 100%;
    background-image:  linear-gradient(
      0deg,
      rgba(0,0,0,0.4),
      rgba(0,0,0,0.4)
  )
    ,url(../assets/images/nosotros.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

/* TITULO IMAGINE DRAGONS */

.display-3 {
    color: #fff;
    font-weight: 600;
    padding-top: 20rem;
    padding-left: 3rem;
    animation: fadeInDown 0.5s ease forwards;
}

/* BACKGROUND A LAS TEXTOS */

.nosotros_bg{
    background-color: rgb(0 0 0 / 50%);
    padding: 1em 0;
}

.nosotros_parrafo{
    background: rgba(0 0 0 / 60%);
    font-weight: 200;
    padding: 1em;
    margin: 0 3em;
    color: #fff;
}

/* PERFILES DE LA BANDA */

.profile{
    overflow: hidden;
    position: relative;
    width: 100%;
}

/* CONTENIDO DEL PERFIL */

.profile_content{
    position: absolute;
    bottom: 0;
    background: rgba(0 0 0 / 80%);
    padding: 2em 1em;
    width: 100%;
    color: #fff;
    z-index: 2;
}

/* FOTO DE LOS MIEMBROS IMG */

.profile img{
    width: 100%;
    height: 584px;
    object-fit: cover;
}

/* BACKGROUND NEGRO:HOVER */

.profile:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s;
    z-index: 20;
    background: radial-gradient(circle at 24.1% 68.8%, rgba(50, 50, 50, 0.3) 0%, rgba(0, 0, 0, 0.7) 99.4%);
    z-index: 1;
}

.profile:hover:before{
    opacity: 1;
}

/* PAGINA SUSCRIBETE */

#suscripcion{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/images/suscripcion.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#suscripcion .container{
    padding: 2rem 0;
}

/* BOX DEL FORMULARIO */

#suscripcion .form-box{
    width: 100%;
    max-width: 720px;
    background: rgba(0, 0, 0, 0.8);
    padding: 3em;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
}

/* FOOTER */

.pie-footer {
    color: #fff;
    padding: 2rem 0;
}

.footer-logo{
    height: 40px;
}

/* ICONOS DE FONTAWESOME */

.pie-footer .iconos{
    font-size: 1.3rem;
    margin: 0 20px;
    color: #fff;
    padding: 20px 0;
}

.iconos:hover{
    color: rgb(145, 145, 145);
    transition: all 0.3s ease; 
}

@media (max-width: 768px) {

    #home .col-lg-5 .featurette-image{
        width: 60%;
    }

    #premios .card-text{
        text-align: center !important;
    }

    .display-3 {
        padding-left: 0;
        text-align: center;
    }

    .nosotros_parrafo {
        margin: 0 1em;
    }
}

@media (max-width: 425px) {

    /* INDEX */

    .logo{
        height: 25px;
    }

    .carousel-inner .container h2{
        font-size: 1.3rem;
    }

    .carousel-inner .container{
        text-align: center !important;
    }

    #home .featurette .col-lg-7 p{
        font-size: 1rem;
    }

    #home .col-lg-5 .featurette-image {
        width: 80%;
    }

    /* PAGINA ALBUMES */

    .albumes .row{
        text-align: center;
    }

    .albumes .lead{
        margin-top: 1rem;
    }

    .albumes button{
        width: 100%;
        height: 3rem;
    }

    /* PAGINA VIDEOS */

    .videos .col-md-5{
        text-align: center;
        padding: 2rem 0;
    }

    /* PAGINA TOUR */

    .tour_titulo .row{
        margin-bottom: 8rem;
    }

    /* PAGINA NOSOTROS */

    .nosotros_parrafo {
        text-align: center;
    }
    
    /* PAGINA NOSOTROS */

    .form-box .lead{
        font-size: 1rem;
    }

    /* FOOTER */

    .footer-logo{
        height: 30px;
    }

    .pie-footer .iconos{
        margin: 0 14px;
    }
}

@media (max-width: 375px) {
    .logo{
        height: 20px;
    }

    .pie-footer p{
        font-size: .8rem;
    }
}