@import "variables";

.pie-footer{
    background: $color-dark;
    color: $color-white;
    padding: 2rem 0;
    .container{
        text-align: $text-align;
        .row{
            .col-md-12{
                .footer-logo{
                    height: 40px;

                    @include mobile{
                        height: 30px;
                    }
                }
                .iconos{
                    font-size: 1.3rem;
                    margin: 0 20px;
                    color: $color-white;
                    padding: 20px 0;
                    &:hover{
                        color: $color-hover;
                        transition: $transicion-hover; 
                    }
                }
            }
        }
    }
}