$ancho: 100%;
$alto: 100%;

$color-dark: #181818;
$color-white: #fff;
$color-hover: rgb(145, 145, 145);

$transicion-hover: all 0.3s ease;
$transicion: .5s;

$espaciado-principal: 5rem;
$borde: 15px solid #181818;

$fuente-chiquita: 1em;
$fuente-normal: 1.25em;
$fuente-grande: 1.75em;

$fuente-negrita: bold;
$text-align-start: start;
$text-align: center;

$tipografia-general: 'Source Sans Pro', sans-serif;
$tipografia-parrafo: 'Jost', sans-serif;
