@mixin parrafoEstilado($anchoFuente,$grosorFuente,$color,$align){
    font-size: $anchoFuente;
    font-weight: $grosorFuente;
    color: $color;
    @include mobile{
        text-align: $text-center;           
    }
}

@mixin before {
	content: '';
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
}

@mixin centrarAbsolute {
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}

@mixin flex-row-center{
    display:flex;
	flex-direction:row;
	justify-content:center;
}

@mixin centrarContenido {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-direction-center($direction){
    display:flex;
    flex-direction:$direction;
    justify-content:center;
}

@mixin alineacion-flex($justify,$text-align) {
    justify-content: $justify;
    text-align: $text-align;
}

@mixin banner($imgBanner) {
    width: 100%;
    height: 100%;
    background-image:  linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url($imgBanner);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

@mixin tablet {
    @media screen and (max-width: $screen-tablet) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: $screen-mobile) {
        @content;
    }
}

@mixin mobile-small {
    @media screen and (max-width: $screen-mobile-small) {
        @content;
    }
}