#suscripcion{
    @include banner('../assets/images/suscripcion.jpg');
    height: 100vh !important;
    .container{
        padding: 2rem 0;
        .form-box{
            width: 100%;
            max-width: 720px;
            background: rgba(0, 0, 0, 0.8);
            padding: 3em;
            margin: 0 auto;
            border-radius: 10px;
            text-align: center;
            .suscribete_titulo{
                animation: $animacion-arriba;
            }
            .row{
                @include alineacion-flex(center,start);
            }
        }
    }
}